pandas==1.5.0
streamlit==1.14.0
pycountry==22.3.5
pycountry-convert==0.7.2
rich==12.6.0
geopy==2.2.0
pluggy==1.0.0
ply==3.11
openpyxl==3.0.10
gitdb==4.0.9
GitPython==3.1.29
GDAL==3.5.2
geographiclib==1.52
